body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

img.title_pic {
    margin-top: -15%;
    overflow: hidden;
    /* height: 790px; */
    position: relative;
    z-index: 1;
    animation: beat .80s infinite alternate;
	 transform-origin: center;
}
#boysquig,
#girlsquig {
  width: 85%;
  animation: beat .80s infinite alternate;
  transform-origin: center;
}
@keyframes beat{
	to { transform: scale(1.03); }
}

.flex-first img {
  margin-top: -75%;
margin-left: -15%;
overflow: hidden;
width: 140%;
}

/* #initial-relationship-pattern img {
  margin-top: -5%;
  padding: 15%;
  width: 120%;
} */

.heartless {
  font-weight: bold;
  /* font-size: 54px; */
  padding-bottom: 35px;
  z-index: 1;
}

@media (min-width: 1024px) {
#titletop h1,
.flex-first h3,
#final-thoughts h1,
.heartless {
  font-size: 64px;
}
div#explain-title-block {
  height: 743px;
}
}

@media screen and (max-width: 800px) {

div#explain-title-block, div#demographics, div#love, div#respect, div#desire, div#final-thoughts, div#titletop, div#conflict, div#initial-relationship-pattern{
  height: 100%;
}

#titletop h1,
.flex-first h3,
#final-thoughts h1,
.heartless {
    font-size: 100%;
    /* line-height: 80px; */
    padding-bottom: 0px;
    padding-top: 26px;
}
}

.title_banner {
  margin-top: -40%;
    width: 140%;
overflow: hidden;
position: absolute;
  left: -10%;
}

.heartchart_banner {
  margin-top: -50%;
    height: 300%;
    width: 140%;
    overflow: hidden;
    position: absolute;
      left: -10%;
}

/* #calcs,
#initial-relationship-pattern {
  display:block;
  background-repeat: repeat;
  background-image: url("./calculations_Calculations.svg");
} */

.grayground {
  /* margin-top: -30%; */
  margin-top: -50%;
    /* height: 200%; */
    width: 150%;
  overflow: hidden;
  position: absolute;
  left: -15%;
}

div#explain-title-block,
div#demographics,
div#love,
div#respect,
div#desire,
div#final-thoughts,
div#titletop,
div#conflict,
div#initial-relationship-pattern {
  /* height: 743px; */
  width:100%;
  overflow: hidden;
  position: relative;
  min-height: 530px;
}


div#final-thoughts{
    height: 443px;
}
div#break-up {
  width:100%
}

div#final-thoughts {
  background-color: #662d91;
}

#titletop h1,
.flex-first h3,
#final-thoughts h1 {
  position: relative;
  color: white;
  top: 125px;
  text-align: center;

  padding-bottom: 35px;
  z-index: 2;
}
#final-thoughts h1 {
/* color: #ff7c5c; */
color: white;
}

.heartless {
  position: relative;
  color: #662d91;
  top: 125px;
  text-align: center;
  /* font-size: 64px; */
  padding-bottom: 35px;
  z-index: 1;
}

.heartless heartcharts {
  position: relative;
  color: white;
  top: 125px;
  text-align: center;
  /* font-size: 64px; */
  padding-bottom: 35px;
  z-index: 1;
}

.heartless img {
  z-index: -1;
}

h2 {
  z-index: 2;
}

.flex-first-container {
  display: flex;
  position: relative;
}

.flex-first {
  background-color: #d7bfe9;
  margin: 10%;
  margin-top: -.01%;
  /* margin-left: 3%; */
      max-width: 443px;
}

/* .initrela {
  align-items: center;
} */

div#i-love-yous {
  height: 743px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

p#note {
      font-weight: normal;
      font-size: 16px;
    padding-top: 14px;
      text-align: right;
}

#h3demo {
  margin-top: -7%;
}

.flex-grid {
  display: flex;
  justify-content: space-between;

}
#firstchart,
#conflictcharts{
    margin-top: -15%;
}

.flex-grid .col {
  width: 49%;
}

img.heartchart {
  margin-top: -30%;
    overflow: hidden;
    width: 60%;
  position: relative;
  z-index: -1;
}

#heartchartback1,
#heartchartback2,
#heartchartback3
 {
   width: 120%;
   overflow: hidden;
   position: absolute;
   margin-left: -60%;
       margin-top: -10%;
}
